<h1>クラウドソーシングサービス</h1>
<div>
<h2>
 <a class="post" href="/projects">登録案件を見る</a>　　　　　　<a class="post" href="/projects/new">案件を登録する</a>
</h2>

<P>
 <a class="post" href="/clients/sign_up">会員登録して仕事を依頼する</a>
</P>

<P>
 <a class="post" href="/workers/sign_up">会員登録して仕事を受注する</a>
</P>

</div>
