<div class="container">
<h2>BUSINESS INSIGHTS　クラウドソーシングサービス</h2>
<%= image_tag("IMG_0046.JPG", :size => "750x300") %>
<div>
<h2>
 <a class="btn btn-primary btn-lg col-xs-4 grid-box-4" href="/projects">登録案件を見る</a><a class="btn btn-warning btn-lg col-xs-4 grid-box-4" href="/projects/new">案件を登録する</a>
</h2>
<br/><br/><br/>
 <a class="col-sm-6 col-md-4 box-blue" href="/clients/sign_up">会員登録して仕事を依頼する</a>

 <a class="col-sm-6 col-md-4 box-blue" href="/workers/sign_up">会員登録して仕事を受注する</a>

</div>
</div>