<div class="container">
  <a class="post" href="/projects/new">案件を登録する</a>
</div>
<div class="container">
  <%= form_tag('/projects', method: :post) do %>
    <h3>
      案件を登録する
    </h3>
    <p><input placeholder="プロジェクト名" type="text" name="title"></p>
    <p><textarea cols="60" name="content" placeholder="プロジェクトの内容" rows="20"></textarea></p>
    <p><input placeholder="発注金額(単位：円)" type="integer" name="price"></p>
    <p>エントリー締切</p><input type="date" name="entry_deadline">
    <p>開始日</p><input type="date" name="start_day">
    <p>完了日</p><input type="date" name="end_day">
    <p><input type="submit" value="登録する"></p>
    <a class="top" href="/projects">案件一覧に戻る</a>
  <% end %>
</div>