// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block {
  height: 100px;
  widh: 100%;
}

.hu {
  height:70px;
}